<div class="container mb-5">
  <div class="row justify-content-center mt-3">
    <div class="col col-md-8 mb-3">
      <div class="text-warning">
        <div class="accordion" id="accordionAccount">
          <!-- Personal Data Accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button bg-warning-subtle" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>Personal Data</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionAccount">
              <div class="accordion-body">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                      <img *ngIf="person.pictureUrl" [src]="person.pictureUrl" alt="portret"
                        class="img-fluid mb-3" style="width: 250px;">
                      <img *ngIf="!person.pictureUrl" src="./../../../assets/images/no_picture.jpeg" alt="portret"
                        class="img-fluid mb-3" style="width: 250px;">
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col">
                          <p><strong>Person ID:</strong> {{ person?.personId }}</p>
                          <p><strong>First Name:</strong> {{ person?.firstName }}</p>
                          <p><strong>Last Name:</strong> {{ person?.lastName }}</p>
                        </div>
                        <div class="col">
                          <p><strong>Phone Number:</strong> {{ person?.phoneNumber }}</p>
                          <p><strong>Date Of Birth:</strong> {{ person?.dateOfBirth }}</p>
                          <p><strong>Address:</strong> {{ person?.address }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <p><strong>Role:</strong> {{ user?.role }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit Personal Data Accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button bg-warning-subtle collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Edit Personal Data</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionAccount">
              <div class="accordion-body">
                <form [formGroup]="editPersonalDataForm" (ngSubmit)="onSubmitPDF()">

                  <!-- First Name -->
                  <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" formControlName="firstName" class="form-control"
                      placeholder="Enter First Name">
                    <div *ngIf="editPersonalDataForm.controls.firstName.invalid && (editPersonalDataForm.controls.firstName.dirty || editPersonalDataForm.controls.firstName.touched)"
                      class="invalid-feedback">
                      <span *ngIf="editPersonalDataForm.controls.firstName.errors?.required">First Name is required.</span>
                    </div>
                  </div>

                  <!-- Last Name -->
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" id="lastName" formControlName="lastName" class="form-control"
                      placeholder="Enter Last Name">
                    <div *ngIf="editPersonalDataForm.controls.lastName.invalid && (editPersonalDataForm.controls.lastName.dirty || editPersonalDataForm.controls.lastName.touched)"
                      class="invalid-feedback">
                      <span *ngIf="editPersonalDataForm.controls.lastName.errors?.required">Last Name is required.</span>
                    </div>
                  </div>

                  <!-- Phone Number -->
                  <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="form-control"
                      placeholder="Enter Phone Number">
                    <div *ngIf="editPersonalDataForm.controls.phoneNumber.invalid && (editPersonalDataForm.controls.phoneNumber.dirty || editPersonalDataForm.controls.phoneNumber.touched)"
                      class="invalid-feedback">
                      <span *ngIf="editPersonalDataForm.controls.phoneNumber.errors?.required">Phone Number is required.</span>
                    </div>
                  </div>

                  <!-- Date of Birth -->
                  <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                    <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control"
                      placeholder="Enter Date of Birth">
                  </div>

                  <!-- Address -->
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" id="address" formControlName="address" class="form-control"
                      placeholder="Enter Address">
                    <div *ngIf="editPersonalDataForm.controls.address.invalid && (editPersonalDataForm.controls.address.dirty || editPersonalDataForm.controls.address.touched)"
                      class="invalid-feedback">
                      <span *ngIf="editPersonalDataForm.controls.address.errors?.required">Address is required.</span>
                    </div>
                  </div>

                  <!-- Save Changes button -->
                  <div class="text-center">
                    <button type="submit" class="btn btn-dark btn-sm" [disabled]="editPersonalDataForm.invalid || editPersonalDataForm.pristine">Save Changes</button>
                  </div>

                </form>

              </div>
            </div>
          </div>

          <!-- Change Password Accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-warning-subtle" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>Change Password</strong>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionAccount">
              <div class="accordion-body">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePasswordForm()">

                  <!-- New Password -->
                  <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" id="newPassword" formControlName="newPassword" class="form-control"
                      placeholder="Enter New Password">
                    <div *ngIf="changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched)"
                      class="invalid-feedback">
                      <span *ngIf="changePasswordForm.get('newPassword').errors?.required">Password is required.</span>
                      <span *ngIf="changePasswordForm.get('newPassword').errors?.pattern">Password must contain at least one letter and one number.</span>
                      <span *ngIf="changePasswordForm.get('newPassword').errors?.minlength">Password must be at least 8 characters long.</span>
                    </div>
                  </div>

                  <!-- Confirmation Password -->
                  <div class="mb-3">
                    <label for="confirmationPassword" class="form-label">Confirm Password</label>
                    <input type="password" id="confirmationPassword" formControlName="confirmationPassword" class="form-control"
                      placeholder="Confirm New Password">
                    <div *ngIf="changePasswordForm.get('confirmationPassword').invalid && (changePasswordForm.get('confirmationPassword').dirty || changePasswordForm.get('confirmationPassword').touched)"
                      class="invalid-feedback">
                      <span *ngIf="changePasswordForm.get('confirmationPassword').errors?.required">Confirm Password is required.</span>
                      <span *ngIf="changePasswordForm.get('confirmationPassword').errors?.pattern">Password must contain at least one letter and one number.</span>
                      <span *ngIf="changePasswordForm.get('confirmationPassword').errors?.minlength">Password must be at least 8 characters long.</span>
                    </div>
                  </div>

                  <!-- Change Password button -->
                  <div class="text-center">
                    <button type="submit" class="btn btn-dark btn-sm" [disabled]="changePasswordForm.invalid">Change Password</button>
                  </div>

                </form>

              </div>
            </div>
          </div>

          <!-- Appointments List Accordion -->
          <div *ngIf="user.role=='CUSTOMER' || user.role=='EMPLOYEE'" class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button bg-warning-subtle collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <strong>Appointments</strong>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionAccount">
              <div class="accordion-body">

                <form [formGroup]="appointmentsForm">
                  <div formArrayName="appointmentsFA">
                    <div
                      *ngFor="let appointmentGroup of appointmentsForm.get('appointmentsFA')?.controls; let i = index">
                      <div [formGroupName]="i">
                        <fieldset class="border border-dark p-4 mb-4 rounded">
                          <legend class="text-dark">Appointment: {{ appointmentGroup.get('appointmentId').value }}</legend>
                          <div class="row mb-3">
                            <div class="col">
                              <p class="mb-0"><strong>Treatment Name:</strong> {{ appointmentGroup.get('treatmentName').value }}</p>
                              <p class="mb-0"><strong>Customer:</strong> {{ appointmentGroup.get('customerFirstName').value }} {{ appointmentGroup.get('customerLastName').value }}</p>
                              <p class="mb-0"><strong>Employee:</strong> {{ appointmentGroup.get('employeeFirstName').value }} {{ appointmentGroup.get('employeeLastName').value }}</p>
                            </div>
                            <div class="col">
                              <div *ngIf="user.role === 'EMPLOYEE' || (user.role === 'CUSTOMER' && appointmentGroup.get('approvalStatus').value === 'APPROVED')">
                                <p class="mb-0"><strong>Date:</strong> {{ appointmentGroup.get('startDateTime').value }}</p>
                              </div>
                              <div *ngIf="(user.role === 'CUSTOMER' && appointmentGroup.get('approvalStatus').value !== 'APPROVED') || user.role === 'ADMIN'">
                                <label for="startDateTime" class="form-label mb-0"><strong>Date:</strong></label>
                                <input type="datetime-local" id="startDateTime" formControlName="startDateTime" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col">
                              <div *ngIf="user.role === 'CUSTOMER'">
                                <p class="mb-0"><strong>Status:</strong> {{ appointmentGroup.get('approvalStatus').value }}</p>
                              </div>
                              <div *ngIf="user.role === 'EMPLOYEE' || user.role === 'ADMIN'">
                                <label for="approvalStatus" class="form-label mb-0"><strong>Status:</strong></label>
                                <select formControlName="approvalStatus" class="form-select">
                                  <option value="APPROVED">Approved</option>
                                  <option value="PENDING">Pending</option>
                                  <option value="REJECTED">Rejected</option>
                                  <option value="EXPIRED">Expired</option>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="mb-0"><strong>Created:</strong> {{ appointmentGroup.get('dateCreated').value | date }}</p>
                            </div>
                          </div>
                          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button class="btn btn-outline-dark mx-md-2 mb-2" [disabled]="!isModified(i)" (click)="updateAppointment(i)">Update</button>
                            <button class="btn btn-outline-danger mx-md-2 mb-2" (click)="deleteAppointment(i)">Delete</button>
                          </div>
                        </fieldset>

                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
