.app-background {
  background-image: url('./../assets/images/mainBackground.png');
  background-size: contain; /* Ensures the background image fits within the container without stretching */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed while content scrolls */
  background-color: #111111;
  min-height: 100vh; /* Allows the container to grow with the content */
  width: 100vw;
  overflow: auto; /* Allows scrolling */
  display: flex;
  flex-direction: column;
}
